[importlinter]
root_packages=
    src.copywriter
    tests

include_external_packages=True

[importlinter:contract:no-devtools-deps]
name = Application code should not import non-application code (i.e. tests, devtools)
type = forbidden
source_modules =
    src.copywriter
forbidden_modules =
    tests
